* {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;
    align-content: center;
}
.second--header {
    font-size: 20px;
}
.mini--header {
    color: grey;
    font-size: 12px;
}
a {
    color: aquamarine;
    font-size: 16px;
}
.footer--lower {
    color:grey;
    font-size:8px;
    text-align: right;
}